@import "src/styles/colors";

.top {
    position: relative;
    background-color: $extra-light-purple;
    &Content {
    }
    &Inner {
        padding: 128px 280px 128px 208px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            padding: 128px 80px;
        }

        @media screen and (max-width: 475px) {
            padding: 128px 40px;
        }
    }

    &Image {
        width: 250px;
        height: 250px;
        padding-right: 30px;

        @media screen and (max-width: 350px) {
            padding-right: 0;
            width: 150px;
            height: 150px;
        }
    }

    &Title {
        margin-bottom: 25px;
    }

    &Text {
        margin-bottom: 25px;
    }
}

.blocks {
    position: absolute;
    bottom: 0;
    left: 35%;

    height: 20px;
    max-width: 1024px;
    width: 100%;

    display: flex;
    align-items: center;

    transform: translateX(-50%);
    z-index: 2;
}

.yellowBlock {
    width: 80%;
    height: 100%;
    background-color: $yellow;
}

.purpleBlock {
    height: 100%;
    width: 20%;
    background-color: $purple;
}

.socials {
    a {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.posts {
    padding-top: 64px;
    padding-left: 128px;

    &Title,
    &SecondTitle {
        margin-bottom: 64px;
    }

    &Row {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
}
