@import "src/styles/colors";
@import "src/styles/sizes";

.top {
    position: relative;
    background-color: $extra-light-purple;

    &Content {
    }

    &Inner {
        padding: $padding_p128 $padding_p280 $padding_p128 $padding_p200;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            padding: $padding_p128 $padding_p80;
        }

        @media screen and (max-width: 475px) {
            padding: $padding_p128 $padding_p40;
        }
    }

    &Image {
        width: $width_w250;
        height: $height_h250;
        padding-right: $padding_p32;

        @media screen and (max-width: 350px) {
            padding-right: 0;
            width: $width_w150;
            height: $height_h150;
        }
    }

    &Title {
        margin-bottom: $margin_m24;
    }

    &Text {
        margin-bottom: $margin_m24;
    }
}

.blocks {
    position: absolute;
    bottom: 0;
    left: 35%;

    height: $height_h20;
    max-width: 1024px;
    width: 100%;

    display: flex;
    align-items: center;

    transform: translateX(-50%);
    z-index: 2;
}

.yellowBlock {
    width: 80%;
    height: 100%;
    background-color: $yellow;
}

.purpleBlock {
    height: 100%;
    width: 20%;
    background-color: $purple;
}

.socials {
    a {
        margin-right: $margin_m24;

        &:last-child {
            margin-right: 0;
        }
    }
}

.posts {
    padding-top: $padding_p64;
    padding-left: $padding_p128;

    &Title,
    &SecondTitle {
        margin-bottom: $margin_m64;
    }

    &Row {
        display: flex;
        flex-direction: column;
        gap: $gap_g60;
    }
}
