@import "src/styles/colors";
@import "src/styles/sizes";

.top {
    position: relative;
    height: $height_h720;
    margin-bottom: $margin_m64;
    @media screen and (max-width: 768px) {
        height: 504px;
    }
    @media screen and (max-width: 568px) {
        height: 432px;
    }
    @media screen and (max-width: 480px) {
        height: 360px;
    }
}

.topBackground {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;
    opacity: 0.3;

    z-index: 2;
}

.topInner {
    position: relative;
    padding: $padding_p128 0 0 $padding_p80;
    max-width: $width_w800;
    color: $white;
    z-index: 3;

    @media screen and (max-width: 568px) {
        padding: $padding_p64 0 0 $padding_p20;
    }

    @media screen and (max-width: 480px) {
        padding-top: 8%;
        padding-bottom: $padding_p10;
    }
}

.imageFirst {
    position: absolute;
    left: 0;
    background-image: url("../../../assets/images/home/background.webp");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroLabel {
    margin-bottom: $margin_m24;
    font-weight: $fontWeight_500;
    letter-spacing: $letterSpacing_l02;
    text-transform: uppercase;

    span {
        font-weight: $fontWeight_700;
    }
}

.heroTitle {
    margin-bottom: $margin_m24;
}

.heroCreatedAt {
    margin-bottom: $margin_m15;

    span {
        color: $yellow;
    }

    &:last-child {
        margin-bottom: $margin_m48;
    }
}

.buttonWrapper {
    margin-top: $margin_m30;
    z-index: 99;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: $dark-blue;
}
