$dark-blue: #232536;
$yellow: #ffd050;
$yellow-hover: #edc14a;
$purple: #592ea9;
$dark-grey: #4c4c4c;
$light-grey: #6d6e76;
$extra-light-grey: #f4f4f4;
$white: #ffffff;
$extra-light-purple: #f4f0f8;
$milk: #fbf6ea;
$red: #ff0000;

$padding_p02: 2px;
$padding_p05: 5px;
$padding_p08: 8px;
$padding_p10: 10px;
$padding_p14: 14px;
$padding_p18: 18px;
$padding_p20: 20px;
$padding_p24: 24px;
$padding_p32: 32px;
$padding_p35: 35px;
$padding_p42: 42px;
$padding_p50: 50px;
$padding_p64: 64px;
$padding_p200: 200px;
