$dark-blue: #232536;
$yellow: #ffd050;
$yellow-hover: #edc14a;
$purple: #592ea9;
$dark-grey: #4c4c4c;
$light-grey: #6d6e76;
$very-light-grey: #f4f4f4;
$white: #ffffff;
$very-light-purple: #f4f0f8;
$milk: #fbf6ea;
$red: #ff0000;
