$padding_p02: 2px;
$padding_p05: 5px;
$padding_p08: 8px;
$padding_p10: 10px;
$padding_p14: 14px;
$padding_p16: 16px;
$padding_p18: 18px;
$padding_p20: 20px;
$padding_p24: 24px;
$padding_p32: 32px;
$padding_p35: 35px;
$padding_p40: 40px;
$padding_p42: 42px;
$padding_p48: 48px;
$padding_p50: 50px;
$padding_p55: 55px;
$padding_p60: 60px;
$padding_p64: 64px;
$padding_p80: 80px;
$padding_p90: 90px;
$padding_p96: 96px;
$padding_p112: 112px;
$padding_p128: 128px;
$padding_p150: 150px;
$padding_p200: 200px;

// Margin Sizes
$margin_m05: 5px;
$margin_m08: 8px;
$margin_m10: 10px;
$margin_m15: 15px;
$margin_m16: 16px;
$margin_m20: 20px;
$margin_m24: 24px;
$margin_m30: 30px;
$margin_m32: 32px;
$margin_m40: 40px;
$margin_m48: 48px;
$margin_m50: 50px;
$margin_m55: 55px;
$margin_m60: 60px;
$margin_m64: 64px;
$margin_m70: 70px;
$margin_m75: 75px;
$margin_m80: 80px;
$margin_m85: 85px;
$margin_m120: 120px;
$margin_m200: 200px;

// Width Sizes
$width_w02: 2px;
$width_w10: 10px;
$width_w16: 16px;
$width_w20: 20px;
$width_w32: 32px;
$width_w40: 40px;
$width_w50: 50px;
$width_w60: 60px;
$width_w75: 75px;
$width_w100: 100px;
$width_w150: 150px;
$width_w200: 200px;
$width_w260: 260px;
$width_w300: 300px;
$width_w320: 320px;
$width_w375: 375px;
$width_w400: 400px;
$width_w450: 450px;
$width_w500: 500px;
$width_w570: 570px;
$width_w630: 630px;
$width_w670: 670px;
$width_w730: 730px;
$width_w800: 800px;
$width_w850: 850px;
$width_w950: 950px;

$height_h02: 2px;
$height_h03: 3px;
$height_h04: 4px;
$height_h10: 10px;
$height_h16: 16px;
$height_h20: 20px;
$height_h25: 25px;
$height_h32: 32px;
$height_h40: 40px;
$height_h50: 50px;
$height_h56: 56px;
$height_h60: 60px;
$height_h75: 75px;
$height_h80: 80px;
$height_h100: 100px;
$height_h150: 150px;
$height_h190: 190px;
$height_h200: 200px;
$height_h250: 250px;
$height_h300: 300px;
$height_h320: 320px;
$height_h350: 350px;
$height_h450: 450px;
$height_h500: 500px;
$height_h520: 520px;
$height_h580: 580px;
$height_h600: 600px;
$height_h650: 650px;
$height_h720: 720px;
$height_h705: 705px;

// Border Sizes
$border_b01: 1px;
$border_b02: 2px;
$border_b03: 3px;

// Border Radius Sizes
$border-radius_br03: 3px;
$border-radius_br06: 6px;
$border-radius_br10: 10px;
$border-radius_br15: 15px;
$border-radius_br40: 40px;

$gap_g05: 5px;
$gap_g10: 10px;
$gap_g15: 15px;
$gap_g20: 20px;
$gap_g32: 32px;
$gap_g40: 40px;
$gap_g50: 50px;
$gap_g60: 60px;

$fontWeight_500: 500;
$fontWeight_600: 600;
$fontWeight_700: 700;

$letterSpacing_l02: 2px;
$letterSpacing_l03: 3px;

$fontSize_f56: 56px;
$fontSize_f48: 48px;
$fontSize_f36: 36px;
$fontSize_f30: 30px;
$fontSize_f28: 28x;
$fontSize_f25: 25px;
$fontSize_f20: 20px;
$fontSize_f18: 18px;
$fontSize_f16: 16px;
$fontSize_f14: 14px;

$lineHeight_lh30: 30px;

$position_p40: 40px;
$position_p90: 90px;
$position_p190: 190px;
$position_p300: 300px;
