$padding_p02: 2px;
$padding_p05: 5px;
$padding_p08: 8px;
$padding_p10: 10px;
$padding_p14: 14px;
$padding_p16: 16px;
$padding_p18: 18px;
$padding_p20: 20px;
$padding_p24: 24px;
$padding_p32: 32px;
$padding_p35: 35px;
$padding_p42: 42px;
$padding_p48: 48px;
$padding_p50: 50px;
$padding_p64: 64px;
$padding_p200: 200px;

// Margin Sizes
$margin_m05: 5px;
$margin_m10: 10px;
$margin_m15: 15px;
$margin_m20: 20px;
$margin_m25: 25px;
$margin_m30: 30px;
$margin_m40: 40px;
$margin_m50: 50px;
$margin_m60: 60px;
$margin_m70: 70px;
$margin_m80: 80px;
$margin_m200: 200px;

// Width Sizes
$width_w16: 16px;
$width_w20: 20px;
$width_w32: 32px;
$width_w40: 40px;
$width_w50: 50px;
$width_w60: 60px;
$width_w75: 75px;
$width_w150: 150px;
$width_w100: 100px;
$width_w375: 375px;
$width_w400: 400px;
$width_w450: 450px;
$width_w500: 500px;

$height_h03: 3px;
$height_h04: 4px;
$height_h16: 16px;
$height_h20: 20px;
$height_h32: 32px;
$height_h40: 40px;
$height_h50: 50px;
$height_h56: 56px;
$height_h60: 60px;
$height_h75: 75px;
$height_h80: 80px;
$height_h100: 100px;
$height_h150: 150px;
$height_h190: 190px;
$height_h200: 200px;
$height_h250: 250px;
$height_h450: 450px;
$height_h600: 600px;
$height_h650: 650px;

// Border Sizes
$border_b01: 1px;
$border_b02: 2px;
$border_b03: 3px;

// Border Radius Sizes
$border-radius_br03: 3px;
$border-radius_br06: 6px;
$border-radius_br10: 10px;
$border-radius_br15: 15px;
$border-radius_br40: 40px;

$gap_g05: 5px;
$gap_g10: 10px;
$gap_g15: 15px;
$gap_g40: 40px;
