@import "src/styles/colors";
@import "src/styles/sizes";

.top {
    padding: $padding_p80 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $extra-light-purple;

    &Inner {
        text-align: center;
        max-width: $width_w500;

        &Title {
            margin-bottom: $margin_m20;
        }
        &Description {
            line-height: $height_h32;
            margin-bottom: $margin_m20;
        }
        &Broadcast {
            text-transform: uppercase;
            letter-spacing: $letterSpacing_l02;
        }
    }
}
