@import "src/styles/colors";
@import "src/styles/sizes";

.content {
    max-width: $width_w850;
    margin: 0 auto;
    padding: $padding_p64 0 $padding_p64;

    &Wrapper {
        position: relative;
        width: $width_w500;
        height: $height_h320;
        margin-bottom: $margin_m32;

        @media screen and (max-width: 768px) {
            width: $width_w250;
            height: $height_h150;
        }

        &Image {
            margin: 0 auto;

            @media screen and (max-width: 490px) {
                width: 100%;
            }
        }
    }

    &Category {
        margin-bottom: $margin_m15;
        display: flex;
        align-items: center;

        img {
            margin-right: $margin_m15;
        }
    }

    @media screen and (max-width: 490px) {
        padding-top: $padding_p64;
    }
}

.post {
    margin-bottom: $margin_m48;

    &Title {
        margin-bottom: $margin_m15;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.posts {
    padding: $padding_p64 0;

    &Title {
        padding-bottom: $padding_p64;
    }

    &Row {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: $gap_g20;
        justify-content: space-around;
    }
}
.authorItem {
    display: flex;

    margin-bottom: $margin_m24;
    &Avatar {
        margin-right: $margin_m15;
        width: $width_w16;
        height: $height_h16;
        border-radius: 50%;
    }
    &Info {
        display: flex;
        flex-direction: column;
        &Name {
            margin: 0;
            color: $purple;
        }
        &Created {
            margin: 0;
        }
    }
}
