@import "src/styles/colors";
@import "src/styles/sizes";

.top {
    padding: $padding_p64 0 $padding_p64;
    max-width: 768px;
    margin: 0 auto;
    text-align: center;

    &SupTitle {
        margin-bottom: $margin_m10;
        font-weight: $fontWeight_500;
        text-transform: uppercase;
    }

    &Title {
        margin-bottom: $margin_m24;
    }

    &Text {
        color: $dark-grey;
    }
}

.formHeader {
    padding: $padding_p50 $padding_p64;
    margin: 0 auto $margin_m30;
    max-width: 768px;
    background-color: $purple;
    color: $white;

    &Row {
        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 550px) {
            flex-direction: column;
            gap: $gap_g32;
        }
    }

    &Block {
        margin-right: $margin_m30;
        width: 50%;
        text-align: left;

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 550px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 450px) {
        padding: $padding_p50 $padding_p08;
    }
}

.blockHeader {
    padding-bottom: $padding_p14;
    margin-bottom: $padding_p14;
    border-bottom: $border_b01 solid $light-grey;
}

.blockText {
    color: $light-grey;
}
