@import "src/styles/colors";

.nav {
    display: flex;
    align-items: center;

    &Full {
        .link:last-child {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 920px) {
        position: fixed;
        visibility: hidden;
        top: -100%;
        left: 50%;

        height: 100%;
        width: 100%;
        gap: 20px;
        padding: 20px 0;
        flex-direction: column;

        background-color: $dark-blue;
        transform: translateX(-50%);
        z-index: 10;
    }
}

.menuBtn {
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;

    &Full {
        display: none;
    }

    @media screen and (min-width: 920px) {
        display: none;
    }
}

.menuBtn > span,
.menuBtn > span::before,
.menuBtn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $white;
}

.menuBtn > span::before {
    content: "";
    top: -8px;
}

.menuBtn > span::after {
    content: "";
    top: 8px;
}

#menuToggle {
    position: absolute;
    opacity: 0;
}

#menuToggle:checked ~ .menuBtn > span {
    transform: rotate(45deg);
}

#menuToggle:checked ~ .menuBtn > span::before {
    top: 0;
    transform: rotate(0);
}

#menuToggle:checked ~ .menuBtn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menuToggle:checked ~ .nav {
    visibility: visible;
    top: 80px;
}

.homeLink {
    font-weight: 700;
    font-size: 24px;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 400px) {
        font-size: 20px;
    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 auto;

    @media screen and (max-width: 920px) {
        justify-content: space-around;
        gap: 20%;
    }
}

.link {
    margin-right: 25px;
    color: $white;
    text-decoration: none;
    font-size: 18px;

    transition: all 0.3s linear;

    &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;

        background: $white;
        transition: all 0.3s linear;
    }

    &:hover::after {
        width: 100%;
    }

    &Active {
        cursor: default;
        pointer-events: none;

        &::after {
            width: 100%;
        }
    }
}
