@import "src/styles/colors";
@import "src/styles/sizes";

.contact_wrapper {
    min-height: $width_w600;
    max-width: $width_w768;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .contacts {
        width: 100%;
        .form {
            display: flex;
            flex-direction: column;
            color: $white;
            margin-top: $margin_m40;
            margin-bottom: $margin_m30;

            .label {
                margin-bottom: $margin_m10;
                color: $dark-blue;
            }

            .status {
                font-size: $fontSize_f25;
                margin: $margin_m10;
                color: $purple;
            }
        }
    }
}
.input {
    color: $dark-blue !important;
}
