@import "src/styles/colors";
@import "src/styles/sizes";

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 $padding_p32;
    height: $height_h80;
    width: 100%;
    display: flex;
    align-items: center;
    color: $white;
    background-color: $dark-blue;
}
