@import "src/styles/colors";
@import "src/styles/sizes";

.wrapperTestimonials {
    background-color: $milk;
    display: flex;
    height: $height_h450;
}
.testimonials {
    position: relative;
    padding-top: $padding_p96;
    padding-left: $padding_p112;
    min-width: $width_w450;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: $margin_m85;

    &SubTitle {
        text-transform: uppercase;
        margin-bottom: $margin_m10;
        letter-spacing: $letterSpacing_l03;
        font-size: $fontSize_f16;
        font-weight: $fontWeight_600;
    }
    &Title {
        margin-bottom: $margin_m10;
    }
    &Description {
    }
    &:after {
        position: absolute;
        content: "";
        height: $height_h300;
        width: $width_w02;
        right: -$position_p90;
        background-color: $light-grey;
    }
}
.review {
    display: flex;
    flex-direction: column;
    min-width: $width_w630;
    padding: $padding_p90;
    position: relative;

    &Text {
        margin-bottom: $margin_m120;
    }
    &Item {
        height: 100%;
        display: none;

        transition: opacity 0.3s ease;

        &Active {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            animation-name: fade;
            animation-duration: 1.5s;
        }
    }
    .authorItem {
        display: flex;

        &Avatar {
            margin-right: $margin_m15;
            width: $width_w50;
            height: $height_h50;
        }
        &Info {
            display: flex;

            flex-direction: column;
            &Name {
            }
            &City {
            }
        }
    }
    .controls {
        position: absolute;
        display: flex;
        gap: $gap_g05;
        right: 10%;
        bottom: 10%;

        &Button {
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: none;
            width: $width_w60;
            height: $height_h60;
            border-radius: 50%;

            background-color: $white;

            span {
                border-color: $dark-blue;

                &::after {
                    background-color: $dark-blue;
                }
            }

            cursor: pointer;
            transition: all 0.3s linear;

            &Prev {
                margin-right: $margin_m15;
                padding-left: $padding_p20;

                span {
                    align-self: flex-start;
                    transform: rotate(-45deg);
                }
            }

            &Next {
                padding-right: $padding_p20;

                span {
                    align-self: flex-end;
                    transform: rotate(135deg);
                }
            }

            &:hover {
                background-color: $dark-blue;

                span {
                    border-color: $white;

                    &::after {
                        background-color: $white;
                    }
                }
            }
        }
    }

    .arrow {
        display: inline-block;
        width: $width_w10;
        height: $height_h10;
        border-top: $border_b01 solid;
        border-left: $border_b01 solid;
        transform-origin: center;

        &::after {
            content: "";
            display: block;
            width: $width_w02;
            height: $height_h25;
            transform: rotate(-45deg) translate(8px, 4px);
        }
    }
}
