@import "src/styles/sizes";
@import "src/styles/colors";

.post {
    padding: $padding_p24 $padding_p150 $padding_p24 $padding_p32;
    cursor: pointer;

    @media screen and (max-width: 1300px) {
        padding-right: $padding_p50;
    }

    @media screen and (max-width: 1150px) {
        padding-right: 0;
    }

    @media screen and (max-width: 450px) {
        padding-left: 0;
    }

    transition: all 0.3s linear;

    &:hover {
        background-color: $milk;
    }

    &Author {
        margin-bottom: $margin_m08;
    }
}
.title {
    max-width: $width_w670;
    margin-bottom: $margin_m16;
}
