@import "src/styles/colors";
@import "src/styles/sizes";

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tagsBlock {
    max-width: $width_w300;

    &Input {
        margin-bottom: $margin_m60;
    }

    @media screen and (max-width: 660px) {
        margin: 0 auto;
    }
}
.postWrapper {
    margin-bottom: $margin_m32;
}
.categories {
    padding-top: $padding_p60;
    padding-bottom: $padding_p48;

    &Title {
        margin-bottom: $margin_m40;
    }

    &Row {
        display: flex;
        flex-direction: column;
        gap: $gap_g20;
    }
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: $gap_g15;

    &Title {
        margin-bottom: $margin_m10;
        width: 100%;
    }

    &Item {
        padding: $padding_p08 $padding_p32;
        border: $border_b01 solid $dark-blue;
        font-size: $fontSize_f16;
        border-radius: $border-radius_br15;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover,
        &Active {
            border-color: $white;
            background-color: $dark-blue;
            color: $white;
        }
    }
}
