@import "src/styles/colors";
@import "src/styles/sizes";

.link {
    text-decoration: none;
    cursor: pointer;
    color: $dark-blue;
}

.aboutContainer {
    margin: $margin_m80;
}

.categoryTitle {
    display: flex;
    justify-content: center;
    margin-bottom: $margin_m48;
}
